:root {
  --dark: rgb(49, 40, 35);
  --light: rgb(178, 178, 178);
  --brown-light: rgb(251, 239, 223);
  --brown-medium: rgb(141, 104, 82);
  --brown-dark: rgb(70, 46, 37);
}

body {
  color: white;
  background-image: linear-gradient(to bottom right, var(--brown-medium), var(--brown-dark));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}