$primary: #8D6852;
$secondary: #817978;
$info: #372d30;
$success: #609a51;
$warning: #dd8a19;
$danger: #f44336;

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  font-size: 16px;
  --dark: rgb(49, 40, 35);
  --light: rgb(178, 178, 178);
  --brown-light: rgb(235, 215, 190);
  --brown-medium: rgb(141, 104, 82);
  --brown-dark: rgb(70, 46, 37);
}

body {
  background-image: linear-gradient(to bottom right, white, var(--brown-light));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin-top: 50px;
}
